table {
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 50px;
}

caption,
th,
td {
  border: 1px solid #000;
  text-align: center;
  font-family: sans-serif;
  padding: 5px;
}

caption {
  font-size: 20px;
  font-weight: bold;
  border-bottom: none;
}

th,
td {
  text-transform: uppercase;
}

.weekend {
  color: red;
}