
body {
  font-family: sans-serif;
}

.form-group {
  background: linear-gradient(170deg,#2a5b9b 31%, #57c785 100%, #eddd53 100%);
  border-radius: 5px;
  border: 1px solid #000;
}

.form {
  max-width: 400px;
}

.label,
.input,
.textarea {
  display: block;
  min-width: 300px;
}

.label {
  padding-bottom: 10px;
}

.label span {
  display: block;
  margin-bottom: 5px;
}

.input,
.textarea,
.button {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.textarea {
  max-height: 100px;
  max-width: 300px;
}

.input-agree,
.button {
  cursor: pointer;
}

.button {
  background: #ffffff;
  border: none;
}