body {
	font-family: sans-serif;
}

.form-group {
	background: linear-gradient(170deg, #2a5b9b 31%, #57c785 100%, #eddd53 100%);
	border-radius: 5px;
	border: 1px solid #000;
}

.form {
	max-width: 400px;
}

.form-title {
	margin: 10px 0;
}

.label,
.input,
.textarea {
	display: block;
	min-width: 300px;
}

.label {
	margin-bottom: 10px;
}

.input,
.textarea,
.button {
	padding: 5px 12px;
	border: 1px solid #000;
	border-radius: 5px;
	margin-top: 5px;
}

.textarea {
	resize: vertical;
	max-height: 150px;
	min-height: 30px;
}

.input-agree,
.button {
	cursor: pointer;
}

.label-agree {
	font-size: 14px;
	margin-bottom: 0;
}

.input-agree {
	margin: 0;
}

.button {
	background: #ffffff;
	border: none;
}
