
.footer__top {
    font-size: 50.27px;
    font-weight: 500;
    padding: 63px 106px 0px;
    text-transform: uppercase;
}

.footer__top-inner {
    display: flex;
    gap: 0 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer__logo {
    display: block;
    width: 269px;
}

.footer__logo img {
    width: 100%;
}

.footer__top-link {
    display: block;
    z-index: 1;
    position: relative;
    font-size: 50.27px;
    font-weight: 500;
}

.footer__top-link::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background: var(--accent-text);
    border-radius: var(--border-radius);
    top: -20%;
    left: -8%;
    z-index: -1;
    opacity: 0;
    transition: var(--transition);
}

.footer__top-link:hover::before {
    opacity: 1;
}


.footer__contact {
    padding: 100px 106px 100px;
}

.footer__contact-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 0 50px;
}

.footer__col-connection {
    margin-bottom: 50px;
}

.footer__col-left {
    width: 203px;
}

.footer__col-right {
    width: 223px;
}

.footer__col div {
    font-size: 42px;
    margin-bottom: 10px;
}

.footer__col span {
    display: block;
    font-family: 'Archivo';
    font-size: 20px;
    color: var(--description-text-2);
    margin: 20px 0px;
}

.footer__col span:last-child {
    margin-bottom: 0px;
}

.footer__title {
    font-family: 'Archivo';
    font-size: 20px;
    font-weight: 600;
    color: var(--description-text-2);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__link-mail,
.footer__link-tel {
    display: block;
    font-size: 42px;
    transition: var(--transition);
}

.footer__link-mail {
    margin-bottom: 10px;
}

.footer__link-mail:hover,
.footer__link-tel:hover {
    color: var(--accent-text);
}

.socials__list {
    display: flex;
    gap: 0px 45px;
    align-items: center;

}

.socials__link {
    padding: 5px 0px 5px;
}


.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-text);
}

.footer__work {
    display: flex;
    gap: 0 166px;
}

.footer__end {
    background: gray;
    padding: 28px 106px;
    font-family: 'Archivo';
    font-size: 16px;
    font-weight: 600;
    color: var(--description-text-2);
}

