.header__top {
    padding: 47px 106px 0px;
    font-family: "Archivo";
    font-weight: 600;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 51px;
}

.header__logo {
    display: block;
    width: 198px;
    z-index: 11;
    /* flex-shrink: 0; */
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 50px;

    text-transform: uppercase;
    font-size: 22.33px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -14px;
    z-index: -1;
    width: 40px;
    height: 40px;
    background: var(--accent-text);
    border-radius: var(--border-radius);

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.condition {
    display: flex;
    gap: 0 36px;
    align-items: center;
    justify-content: center;
    transition: all .6s;
}

.cart {
    position: relative;
    display: block;
}

.cart::after {
    content: '2';
    display: block;
    position: absolute;
    top: -2px;
    right: -7px;
    width: 18px;
    height: 18px;
    background: var(--accent-text);
    border-radius: var(--border-radius);
    font-size: 11.26px;
    text-align: center;
    padding: 3px 0px;
    transition: all .6s;
}

.cart:hover path {
    fill: var(--accent-text);
    transition: fill .6s;
}

.cart:hover::after {
    background: var(--general-text);
    color: var(--accent-text);
    transition: all .6s;
}

.search {
    display: block;
}

.search:hover path {
    fill: var(--accent-text);
    transition: fill .6s;
}

.burger-icon {
    display: none;
    width: 25px;
    height: 21.43px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -10px;
}

.burger-icon span::after {
    bottom: -10px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ---------------- */

.hero__inner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero__title {
    font-family: "Oswald";
    font-size: 198.68px;
    font-weight: 600;
    line-height: 194.5px;
    text-transform: uppercase;

    padding: 70px 97px 0;
    position: relative;
    z-index: 1;
}

.hero__title::after {
    content: "WITHIN";
    position: absolute;
    top: 18%;
    right: 4.5%;
    z-index: -1;

    font-family: "Oswald";
    font-size: 397.35px;
    font-weight: 600;
    line-height: 389px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.hero__img {
    margin-top: -43px;
    z-index: 2;
    position: relative;
    padding: 0 0 29% 0;
}
/* .hero__img {
    margin-top: -43px;
    z-index: 2;
    position: relative;
} */

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 43%;
    position: absolute;
    top: 0;
    left: 0;
}
/* .hero__img img {
    width: 100%;
    height: 515px;
    object-fit: cover;
    object-position: 0% 52%;
} */

.hero__link {
    display: block;
    background: var(--accent-text);
    width: 122px;
    height: 122px;
    border-radius: var(--border-radius);
    text-align: center;
    /* padding-top: 33px; */
    padding: 33px 10px 0;
    position: absolute;
    z-index: 3;
    top: -11%;
    left: 50%;

    transition: var(--transition);
}

.hero__link path {
    transition: var(--transition);
}

.hero__link:hover {
    background: var(--accent-bg);
}

.hero__link:hover path {
    stroke: var(--accent-text);
}