
@media (max-width: 1850px) {
    .about__story {
        margin-left: 220px;
    }

    .blog__body {
        margin-right: 0px;
    }
}

@media (max-width: 1800px) {
    .hero__title::after {
        top: 17%;
        right: -2.5%;
    }
}

@media (max-width: 1750px) {
    .about__story {
        margin-left: 150px;
    }

    /* ================== */

    .programs__gallery::before {
        left: 44%;
    }

    /* ================== */

    .statistics__item {
        padding: 140px 0;
    }

    /* ================== */

    .social__adress {
        padding: 160px 0 160px 300px;
    }
}

@media (max-width: 1700px) {
    .hero__title::after {
        top: 17%;
        right: -7.5%;
    }

    .hero__link {
        top: -12%;
    }
}

@media (max-width: 1650px) {
    .about__story {
        margin-left: 100px;
    }

    /* ================= */

    .cards__pocket h3 {
        font-size: 36px;
    }

    /* ================= */

    .social__pocket h3 {
        font-size: 36px;
    }
}

@media (max-width: 1600px) {
    .hero__title::after {
        top: 17%;
        right: -14.5%;
    }

    .hero__link {
        top: -13%;
    }

    /* ================== */

    .goal__link span:first-child {
        margin-bottom: 140px;
    }

    /* =================== */

    .about__story {
        margin-left: 50px;
    }

    /* ==================== */

    .programs__body {
        padding: 100px 0;
    }

    /* ==================== */

    .programs__gallery::before {
        left: 43.5%;
    }

    /* ==================== */

    .social__adress {
        padding: 130px 0 130px 200px;
    }

    /* ------------------- */

    .social__employee {
        padding: 100px 0;
    }

    /* ------------------- */

    .social__blog {
        padding: 150px 0 120px 200px;
    }
}

@media (max-width: 1550px) {
    .about__story {
        margin-left: 30px;
        /* margin-right: 100px; */
    }

    .about-slider .swiper-pagination-bullet-active::after {
        top: -168%;
        right: -186%;
    }

    /* ================= */

    .testimonial__text {
        font-size: 45px;
        max-width: 500px;
    }

    /* ================= */

    .statistics__item {
        padding: 120px 0;
    }

    /* ----------------- */

    .total__text-second {
        max-width: 280px;
    }

    .total__text-last::before {
        top: 28%;
        left: 53%;
    }
}

@media (max-width: 1500px) {
    .hero__title::after {
        top: 17%;
        right: -21.5%;
    }

    .hero__link {
        top: -59px;
        left: 48%;
    }

    /* ================= */

    .about__story {
        margin-right: 70px;
    }

    .about-slider__image {
        transform: scale(.95);
    }

    /* ================= */

    .testimonial__icon {
        transform: scale(.8);
        margin: 30px 0;
    }

    .testimonial__line {
        margin-bottom: 50px;
    }

    /* ================= */

    .social__adress {
        padding: 100px 0 100px 150px;
    }

    /* ================= */

    .social__pocket h3 {
        font-size: 30px;
    }

    /* ----------------- */

    .social__blog {
        padding: 130px 0 110px 100px;
        gap: 100px;
    }
}

@media (max-width: 1450px) {
    .hero__title {
        padding: 25px 97px 0;
        font-size: 150px;
        line-height: 150px;
    }

    .hero__title::after {
        top: 19%;
        right: 11.5%;
        font-size: 250px;
        line-height: 250px;
    }

    /* ================= */

    .about__story {
        margin-right: 50px;
    }

    /* ================= */

    .programs__gallery::before {
        left: 43%;
    }

    /* ================= */

    .total__top {
        padding: 100px 0;
    }

    /* ================= */

    .adress__item.active::before {
        left: 17%;
    }

    /* ================= */

    .social__cards {
        margin: 0px 15px;
    }
}

@media (max-width: 1400px) {
    .about__inner {
        padding: 100px 0 100px;
    }

    .about__story {
        margin-right: 30px;
    }

    .about__inner::after {
        top: 7%;
    }

    .about__title {
        font-size: 110px;
    }

    .button__small {
        margin-top: 75px;
    }

    .about-slider__image {
        transform: scale(.9);
    }

    /* =================== */

    .total__text {
        padding-left: 30px;
    }

    .total__text-title {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .total__text-second {
        max-width: 250px;
        margin-bottom: 15px;
    }

    .total__text-last::before {
        top: 10%;
        left: 22%;
        transform: scale(.8);
    }

    /* ================= */

    .social__employee::before {
        top: -4%;
        left: -15%;
    }

    .social__employee::after {
        top: 60%;
        right: -2%;
    }

    .social__cards {
        display: grid;
        grid-template-columns: repeat(2, .4fr);
    }

    /* ----------------- */

    .social__blog {
        display: block;
        gap: 0;
        padding: 100px 50px;
    }

    .blog__top {
        flex-direction: row;
        max-width: none;
        justify-content: start;
        align-items: center;
        gap: 100px;
        margin-bottom: 50px;
    }

    .blog__title span {
        display: inline-block;
    }

    .blog__title span:first-child {
        margin-bottom: 0;
    }

    .blog__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
}

@media (max-width: 1350px) {
    .header__top {
        padding: 47px 70px 0px;
    }

    .header__top-inner {
        margin-bottom: 30px;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        font-size: 18px;
        gap: 5px 100px;
    }

    /* --------------- */

    .hero__title {
        padding: 25px 61px 0;
    }

    .hero__title::after {
        right: 4.5%;
    }

    /* ================== */

    .goal__link span:first-child {
        margin-bottom: 120px;
    }

    /* ================ */

    .about__inner {
        padding: 80px 0 50px;
    }

    .about__inner::after {
        top: 2%;
    }

    .about__story {
        margin-right: 0px;
    }

    .about__title {
        font-size: 90px;
        padding: 0;
        margin-bottom: 40px;
    }

    .about-slider.swiper {
        margin: -40px 0 0;
    }

    .about-slider {
        width: 800px;
    }

    .about-slider .swiper-pagination-bullet-active::after {
        width: 60px;
        height: 60px;
        top: -134%;
        right: -153%;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        left: 90%;
    }

    /* ================ */

    .ticker__group {
        padding: 40px 0;
    }

    .ticker__item h2 {
        font-size: 80px;
    }

    /* ================ */

    .programs__body-top {
        margin-bottom: 60px;
    }

    /* ================ */

    .programs__gallery::before {
        top: 35%;
        left: 42.5%;
        transform: scale(.9);
    }

    .testimonial__icon {
        transform: scale(.7);
    }

    .testimonial__text {
        font-size: 40px;
    }

    /* ================ */

    .statistics__item {
        padding: 100px 0;
    }

    /* ================ */

    .social__employee-top {
        margin-bottom: 60px;
    }

    /* ================ */

    .footer__top {
        padding: 47px 70px 0px;
    }

    .footer__top-inner {
        margin-bottom: 30px;
    }

    .footer__contact {
        padding: 50px 70px 50px;
    }

    .footer__logo {
        width: 198px;
        padding-top: 10px;
    }

    .footer__top-link {
        font-size: 40px;
    }

    .footer__end-inner {
        padding: 40px 70px;
    }
}

@media (max-width: 1250px) {
    .about__inner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 0;
    }

    .about__inner::after {
        left: 19%;
    }

    .about__story {
        align-items: center;
        margin: 0;
    }

    .about__block {
        display: flex;
        gap: 0 50px;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .about__title {
        display: flex;
        justify-content: center;
        font-size: 80px;
        margin: -14px 0 30px;
    }

    .about__text-title {
        margin-bottom: 20px;
    }

    .button__small {
        margin-top: 40px;
    }

    .about-slider__image {
        transform: scale(.8);
    }

    /* =============== */

    .programs__gallery::before {
        left: 41.5%;
    }

    /* =============== */

    .tab__text {
        margin-bottom: 30px;
    }

    /* =============== */

    .schedule__inner {
        padding: 80px 0 100px;
    }

    .schedule__title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    /* ============== */

    .social__adress {
        padding: 80px 0 80px 120px;
    }

    .adress__title {
        font-size: 60px;
    }

    .adress__item.active::before {
        left: 20%;
    }

    /* =============== */

    .social__blog {
        padding: 100px 30px;
    }

    .blog__button {
        margin-top: 0;
    }

}

@media (max-width: 1200px) {
    .nav__list {
        gap: 5px 60px;
    }

    /* ---------------- */

    .hero__title::after {
        right: -2.5%;
    }

    /* ================== */

    .goal__link span:first-child {
        margin-bottom: 100px;
    }

    /* ================== */

    .about__inner::after {
        left: 16%;
    }

    /* ================= */

    .testimonial__icon {
        transform: scale(.6);
        margin: 20px 0;
    }

    .testimonial__text {
        font-size: 35px;
        max-width: 400px;
    }

    .testimonial__name span {
        font-size: 25px;
    }

    .testimonial__line {
        margin-bottom: 35px;
    }

    /* ================ */

    .tabs__item {
        font-size: 90px;
    }

    /* ================ */

    .statistics__item {
        padding: 80px 0;
    }

    .statistics__title {
        font-size: 70px;
    }

    /* ================ */

    .social__link {
        top: 40%;
        left: 46%;
    }
}

@media (max-width: 1100px) {
    .hero__title::after {
        right: -12.5%;
    }

    .hero__link {
        transform: scale(.9);
        top: -20%;
        left: 47%;
    }

    /* ===================  */

    .goal__link {
        padding: 35px;
    }

    .goal__link span:first-child {
        font-size: 32px;
    }

    /* =================== */

    .about__inner::after {
        left: 13%;
    }

    .about__block {
        flex-direction: column;
        /* gap: 0 50px; */
    }

    .about__text {
        margin-bottom: 30px;
    }

    /* =================== */

    .ticker__group {
        padding: 30px 0;
    }

    .ticker__item h2 {
        font-size: 60px;
        padding: 0 26px;
    }

    /* =================== */

    .programs__cards {
        gap: 50px;
        flex-wrap: wrap;
    }

    .programs__gallery::before {
        top: 31%;
        left: 40.5%;
        transform: scale(.8);
    }

    .testimonial__icon {
        transform: scale(.5);
    }

    .testimonial__text {
        max-width: 370px;
        font-size: 30px;
    }

    /* =================== */

    .total__top {
        padding: 70px 0;
    }

    .tabs__items {
        margin-left: 12vw;
    }

    .tabs__block.active {
        margin-right: 12vw;
    }

    /* ------------------- */

    .statistics__item {
        padding: 60px 0;
    }

    .statistics__title {
        margin-bottom: 20px;
    }

    /* ------------------- */

    .total__text-first {
        margin-bottom: 10px;
    }

    .total__text-title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .total__text-second {
        max-width: 200px;
        margin-bottom: 10px;
        line-height: 1.2;
        text-align: justify;
    }

    .total__text-third {
        line-height: 1.0;
        margin-bottom: 5px;
    }

    /* =================== */

    .schedule__items {
        gap: 0 50px;
    }

    /* =================== */

    .adress__item.active::before {
        left: 24%;
    }

    /* =================== */

    .blog__top {
        justify-content: center;
    }

    .blog__body {
        display: grid;
        grid-template-columns: .4fr;
        justify-content: center;
    }

    /* =================== */

    .footer__work {
        gap: 0 50px;
    }
}

@media (max-width: 1000px) {
    .nav__list {
        gap: 5px 30px;
    }

    /* ---------------- */

    .hero__title::after {
        right: -24.5%;
    }

    .hero__link {
        top: -21%;
        transform: scale(.8);
    }

    /* ================= */

    .about__inner::after {
        left: 10%;
    }

    /* ================== */

    .card__item:hover {
        border: none;
    }

    .card__item:hover .card__bottom {
        border-right: 2px solid var(--general-text-2);
    }

    .card__item:last-child:hover .card__bottom {
        border-right: none;
    }

    .card__bottom {
        padding: 30px;
    }

    /* ================ */

    .programs__body {
        padding: 80px 0;
    }

    .programs__body::before {
        top: -5%;
        left: -28%;
        transform: scale(.8);
    }

    .programs__body::after {
        top: -1%;
        right: -51.5%;
        transform: scale(0.8);
    }

    /* ------------------- */

    .button__large {
        padding: 30px 0;
    }

    .testimonial__inner {
        padding: 0;
    }

    .testimonial__icon {
        transform: scale(.4);
        margin: 0;
    }

    .testimonial__text {
        max-width: 300px;
        font-size: 25px;
        margin-bottom: 30px;
    }

    .testimonial__line {
        width: 60px;
    }

    .testimonial__name p {
        font-size: 17px;
    }

    .testimonial__name span {
        font-size: 22px;
    }

    /* ================= */

    .tabs__item {
        font-size: 80px;
    }

    .tabs__item.active::before {
        left: -18%;
        top: -8%;
        transform: scale(.8);
    }

    /* ================= */

    .social__link {
        top: 36%;
        left: 44%;
        transform: scale(.8);
    }

    /* ----------------- */

    .social__employee::before {
        top: -6%;
        left: -34%;
        transform: scale(.8);
    }
}

@media (max-width: 950px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-text-2);
        padding: 26vh 15px 30px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ------------------- */

    .hero__title {
        padding: 25px 61px 0;
        font-size: 100px;
        line-height: 100px;
    }

    .hero__title::after {
        top: 19%;
        right: 9.5%;
        font-size: 170px;
        line-height: 170px;
    }

    .hero__img {
        margin-top: -21px;
    }

    /* ================== */

    .goal__link span:first-child {
        margin-bottom: 70px;
    }

    /* ================== */

    .about__inner::after {
        left: 8%;
    }

    /* ================== */

    .programs__gallery::before {
        left: 39%;
        top: 27%;
    }

    /* ================== */

    .tabs__items {
        margin-left: 10vw;
    }

    .tabs__item {
        font-size: 70px;
    }

    .tabs__item.active::before {
        left: -20%;
        top: -13%;
        transform: scale(.7);
    }

    .tabs__block.active {
        margin-right: 10vw;
    }

    /* ------------------ */

    .statistics__item {
        padding: 50px 0;
    }

    /* ------------------ */

    .total__cards {
        grid-template-columns: 1fr;
    }

    .total__text {
        padding-left: 50px;
    }

    .total__text-first {
        margin-bottom: 20px;
    }

    .total__text-title {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .total__text-second {
        max-width: 349px;
        margin-bottom: 30px;
        line-height: 1.5;
        text-align: justify;
    }

    .total__text-third {
        line-height: 1.5;
        margin-bottom: 10px;
    }

    /* ================== */

    .adress__title {
        margin-bottom: 50px;
    }

    .adress__item.active::before {
        left: 23%;
    }

    .adress__item-first {
        gap: 70px;
    }

    /* ================== */

    .footer__contact-inner {
        flex-direction: column-reverse;
    }

    .footer__work {
        margin-bottom: 50px;
    }

    .footer__col-connection {
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .hero__title::after {
        right: 4.5%;
    }

    .hero__link {
        top: -24%;
        left: 47%;
    }

    /* =============== */

    .schedule::before {
        top: 3%;
        right: 6%;
    }

    .schedule__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }

    .schedule__item.active::before {
        left: 18%;
        top: 52%;
    }
}

@media (max-width: 850px) {
    .hero__title::after {
        right: -1.5%;
    }

    .hero__link {
        left: 46%;
    }

    /* ================= */

    .about__inner::after {
        left: 5%;
    }

    /* ================= */

    .programs__gallery::before {
        left: 38%;
        top: 25%;
    }

    .testimonial__icon {
        transform: scale(.3);
    }

    .testimonial__text {
        max-width: 230px;
        font-size: 23px;
        margin-bottom: 20px;
    }

    .testimonial__line {
        margin-bottom: 20px;
    }

    /* ================= */

    .total__tabs {
        gap: 70px;
    }

    .tabs__item {
        padding: 10px 0;
    }

    .tabs__item.active::before {
        top: -30%;
    }

    .tabs__block.active {
        margin-right: 6vw;
    }

    .tab__title {
        margin: 15px 0 20px;
    }

    /* -------------------- */

    .total__statistics {
        grid-template-columns: repeat(2, 1fr);
    }

    .statistics__item:nth-child(2) {
        border-right: none;
    }

    .statistics__title {
        font-size: 50px;
    }

    .statistics__text {
        font-size: 17px;
    }

    /* ------------------- */

    .total__text-second {
        max-width: 250px;
    }
}

@media (max-width: 800px) {
    .hero__title::after {
        right: -7.5%;
    }

    .hero__link {
        top: -26%;
        left: 45%;
    }

    /* ================== */

    .goal__link {
        padding: 20px;
    }

    .goal__link span:first-child {
        font-size: 28px;
        margin-bottom: 50px;
    }

    /* ================== */

    .about__inner::after {
        left: 7%;
    }

    .about__title {
        margin: 0 0 30px;
    }

    .about-slider__image {
        transform: scale(.8);
    }

    /* ================== */

    .ticker__item h2 {
        font-size: 50px;
    }

    /* ================== */

    .card__bottom {
        padding: 20px;
        /* font-size: 12px; */
    }

    .card__bottom span {
        transform: scale(.9);
    }

    /* ================== */

    .programs__cards {
        display: grid;
        grid-template-columns: .5fr;
    }

    .programs__body {
        padding: 50px 0;
    }

    .programs__body-top {
        margin-bottom: 40px;
    }

    .programs__title {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .programs__title-text {
        max-width: 380px;
    }

    .programs__body::before {
        top: -13%;
        left: -37%;
        transform: scale(.7);
    }

    .programs__body::after {
        top: -5%;
        right: -86.5%;
        transform: scale(0.7);
    }

    .programs__cards {
        gap: 10px;
    }

    .cards__item {
        transform: scale(.9);
    }

    /* ================== */

    .button__large {
        padding: 20px 0;
    }

    .programs__gallery::before {
        left: 37%;
        top: 24%;
    }

    /* ================== */

    .total__top {
        padding: 50px 0;
    }

    .tabs__item {
        padding: 10px 0;
        font-size: 60px;
    }

    .tabs__item.active::before {
        left: -24%;
        top: -38%;
        transform: scale(.6);
    }

    /* ================== */

    .schedule__items {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }

    .schedule__item.active::before {
        left: 26%;
        top: 51%;
    }

    .schedule__item {
        padding: 5px 0;
    }

    /* =================== */

    .adress__item.active::before {
        left: 28%;
    }

    /* =================== */

    .blog__body {
        grid-template-columns: .45fr;
    }

    .blog__top {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (max-width: 750px) {
    .hero__title::after {
        right: -13.5%;
    }

    /* ================= */

    .about__inner::after {
        left: 3%;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        left: 84%;
    }

    /* ================= */

    .programs__cards {
        margin: 0px 15px;
    }

    /* ================= */

    .programs__gallery::before {
        left: 36%;
        transform: scale(.7);
        top: 21%;
    }

    .testimonial__text {
        margin-top: -10px;
    }

    .testimonial__name p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .testimonial__name span {
        font-size: 20px;
    }

    /* ================== */

    .statistics__title {
        margin-bottom: 15px;
    }

    /* ------------------ */

    .total__text {
        padding-left: 30px;
    }

    /* ================== */

    .schedule__inner {
        padding: 60px 0 70px;
    }

    .schedule__item.active::before {
        left: 24%;
        top: 53%;
    }

    /* ================= */

    .social__link {
        top: 31%;
        left: 41%;
        transform: scale(.7);
    }

    /* ----------------- */

    .social__employee {
        padding: 80px 0;
    }

    .social__employee::before {
        top: -8%;
        left: -49%;
        transform: scale(.7);
    }

    .social__cards {
        grid-template-columns: repeat(2, .5fr);
    }
}

@media (max-width: 700px) {
    .hero__title {
        padding: 15px 61px 0;
        font-size: 80px;
        line-height: 80px;
    }

    .hero__title::after {
        top: 24%;
        right: 5.5%;
        font-size: 120px;
        line-height: 120px;
    }

    .hero__img {
        margin-top: -19px;
    }

    .hero__link {
        top: -30%;
        transform: scale(.7);
    }

    /* =================== */

    .about__inner::after {
        left: 5%;
    }

    .about__title {
        margin: -70px 0 30px;
    }

    .about-slider__image {
        transform: scale(.7);
    }

    .about-slider.swiper {
        margin: -60px 0 0;
    }

    /* =================== */

    .programs__body::before {
        top: -4%;
        left: -53%;
    }

    .programs__body::after {
        top: -3%;
        right: -103.5%;
    }

    /* =================== */

    .programs__gallery::before {
        left: 35%;
        top: 19%;
    }

    .testimonial__icon {
        margin-top: -20px;
    }

    /* =================== */

    .total__tabs {
        gap: 50px;
    }

    .tabs__items {
        margin-left: 7vw;
    }

    /* ------------------- */

    .statistics__item {
        padding: 30px 0;
    }

    /* =================== */

    .social__adress {
        padding: 60px 0 60px 80px;
    }

    /* =================== */

    .blog__body {
        grid-template-columns: .5fr;
    }

    /* =================== */

    .footer__logo {
        padding-top: 0;
    }

    .footer__top-link {
        font-size: 30px;
    }
}

@media (max-width: 650px) {
    .hero__title::after {
        right: -1.5%;
    }

    .hero__link {
        left: 44%;
    }

    /* ================== */

    .goal__link {
        padding: 15px;
    }

    .goal__link span:first-child {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .goal__title {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .goal__link span:last-child {
        font-size: 15px;
    }

    /* ================= */

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        left: 80%;
    }

    .about-slider .swiper-pagination-bullet-active::after {
        width: 50px;
        height: 50px;
        top: -100%;
        right: -120%;
    }

    /* ================= */

    .programs__gallery::before {
        left: 34%;
        transform: scale(.6);
        top: 15%;
    }

    .testimonial__icon {
        transform: scale(.2);
        margin-top: -30px;
    }

    .testimonial__text {
        max-width: 200px;
        font-size: 18px;
        margin-top: -20px;
    }

    .testimonial__line {
        width: 45px;
    }

    .testimonial__name p {
        font-size: 12px;
    }

    .testimonial__name span {
        font-size: 17px;
    }

    /* ================= */

    .total__tabs {
        flex-direction: column;
        align-items: center;
    }

    .tabs__block.active {
        margin: 0 6vw;
    }

    /* ----------------- */

    .total__text-first {
        margin-bottom: 10px;
    }

    .total__text-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .total__text-second {
        max-width: 220px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .total__text-third {
        line-height: 1.2;
        margin-bottom: 5px;
    }

    /* ================= */

    .schedule__item.active::before {
        left: 20%;
        top: 53%;
    }

    /* ================= */

    .adress__item.active::before {
        left: 35%;
    }

    /* ================= */

    .social__employee {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
    }

    .social__employee::before {
        top: -5%;
        left: -60%;
        transform: scale(.6);
    }

    .social__employee::after {
        top: 67%;
        right: -2%;
    }

    .social__employee-top {
        margin-bottom: 35px;
    }

    .social__cards {
        grid-template-columns: .5fr;
    }

    /* ----------------- */

    .social__blog {
        padding: 60px 30px;
    }

    /* ================= */

    .footer__top-inner {
        flex-direction: column;
        align-items: start;
    }

    .footer__logo {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .header__top {
        padding: 47px 30px 0px;
    }

    /* ----------------- */

    .hero__title {
        padding: 15px 26px 0;
    }

    .hero__title::after {
        right: -3.5%;
    }

    .hero__link {
        top: -34%;
        left: 43%;
    }

    /* ================= */

    .about__title {
        margin: -90px 0 30px;
    }

    .button__small {
        margin-top: 20px;
    }

    .about-slider {
        text-align: center;
    }

    .about-slider__image {
        transform: scale(.6);
    }

    .about__pagination {
        flex-direction: row;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: var(--swiper-pagination-right, 8px);
        left: 5%;
        top: 10%;
        transform: translate3d(0px, 0%, 0);
    }

    .about-slider .swiper-pagination-bullet-active::after {
        width: 50px;
        height: 50px;
        top: -98%;
        right: -127%;
    }

    /* ================= */

    .ticker__group {
        padding: 20px 0;
    }

    .ticker__item h2 {
        font-size: 40px;
        padding: 0 20px;
    }

    .ticker__item span {
        width: 10px;
        height: 10px;
    }

    /* ================= */

    .programs__gallery::before {
        left: 32%;
        transform: scale(.6);
        top: 13%;
    }

    .testimonial__text {
        max-width: 189px;
    }

    .testimonial__line {
        margin-bottom: 15px;
    }

    /* ================= */

    .social__link {
        top: 28%;
        left: 38%;
        transform: scale(.6);
    }

    /* ----------------- */

    .social__adress {
        padding: 60px 0 60px 50px;
    }

    /* ----------------- */

    .social__employee {
        padding: 60px 0;
    }

    /* ----------------- */

    .blog__top {
        gap: 40px;
    }

    .blog__button {
        margin-top: 0;
    }

    .blog__image {
        margin-bottom: 20px;
    }

    .blog__text-second {
        margin-bottom: 20px;
    }

    /* ================= */

    .footer__top {
        padding: 47px 30px 0px;
    }

    .footer__contact {
        padding: 30px;
    }

    .footer__end-inner {
        padding: 40px 30px;
    }
}

@media (max-width: 550px) {
    .hero__title::after {
        right: -9.5%;
    }

    .hero__link {
        top: -40%;
        left: 42%;
    }

    /* ================== */

    .about__text-description {
        width: 400px;
    }

    /* ================== */

    .card__bottom {
        padding: 15px;
    }

    /* ================== */

    .programs__title {
        font-size: 50px;
    }

    /* ================== */

    .button__large {
        padding: 15px 0;
    }

    .programs__gallery::before {
        left: 31%;
        transform: scale(.5);
        top: 8%;
    }

    /* ================== */

    .total__text {
        padding-left: 15px;
    }

    /* ================== */

    .schedule__item.active::before {
        left: 15%;
        top: 53%;
    }

    .schedule__title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    /* ================== */

    .social__link {
        top: 23%;
        left: 37%;
        transform: scale(.5);
    }

    /* ------------------ */

    .adress__title {
        font-size: 50px;
    }

    .social__adress {
        padding: 60px 0 60px 30px;
    }

    .adress__items {
        margin-right: 50px;
    }

    .adress__item.active::before {
        left: 37%;
    }

    /* ------------------ */

    .social__employee::before {
        top: -6%;
        left: -72%;
        transform: scale(.6);
    }

    .social__title {
        font-size: 50px;
    }

    /* ------------------ */

    .blog__title {
        font-size: 50px;
    }

    .blog__body {
        grid-template-columns: .55fr;
    }

    /* ================== */

    .footer__work {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 500px) {
    .hero__title::after {
        top: 49%;
        right: -17.5%;
    }

    .hero__link {
        top: -60px;
        left: 37%;
    }

    /* ================== */

    .goal__link {
        padding: 10px;
    }

    .goal__link span:last-child {
        font-size: 13px;
    }

    /* =================== */

    .about__text {
        margin: 0 15px 30px;
    }

    /* =================== */

    .programs__body::before {
        top: -5%;
        left: -94%;
    }

    .programs__body::after {
        top: -4%;
        right: -126.5%;
        transform: scale(0.5);
    }

    .card__bottom {
        padding: 15px;
        font-size: 13px;
    }

    /* =================== */

    .button__large {
        font-size: 13px;
    }

    .programs__gallery::before {
        left: 29%;
        top: 6%;
    }

    .testimonial__text {
        max-width: 150px;
        font-size: 15px;
        margin-top: -25px;
        margin-bottom: 15px;
    }

    .testimonial__name p {
        font-size: 10px;
    }

    .testimonial__name span {
        font-size: 15px;
    }

    /* ================ */

    .statistics__title {
        font-size: 40px;
    }

    .statistics__text {
        font-size: 14px;
    }

    /* ---------------- */

    .total__text-title {
        font-size: 25px;
    }

    .total__text-second {
        max-width: 200px;
    }

    /* ================ */

    .social__employee::before {
        top: -6%;
        left: -85%;
        transform: scale(.5);
    }

    /* ---------------- */

    .blog__body {
        grid-template-columns: .65fr;
    }
}

@media (max-width: 450px) {
    .programs__body-top {
        margin-bottom: 10px;
    }

    /* ================= */

    .programs__gallery::before {
        left: 27%;
        transform: scale(.4);
        top: 0%;
    }

    /* ================= */

    .total__text-second {
        max-width: 180px;
    }

    .total__text-last::before {
        top: -31%;
        left: 9%;
        transform: scale(.7);
    }

    /* ================= */

    .social__link {
        top: 18%;
        left: 36%;
        transform: scale(.4);
    }

    /* ------------------ */

    .social__adress {
        padding: 50px 0 50px 20px;
    }

    .adress__title {
        margin-bottom: 40px;
    }

    .adress__item-first {
        gap: 50px;
    }

    .adress__item.active::before {
        left: 33%;
    }

    /* -------------------- */

    .social__employee::before {
        top: -7%;
        left: -100%;
        transform: scale(.4);
    }

    .social__employee::after {
        top: 66%;
        right: -2%;
    }

    /* --------------------- */

    .blog__top {
        margin-bottom: 35px;
    }
}