@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* ====================== */

.goal__inner {
    display: flex;
    background: rgb(219, 219, 219);
    width: 100%;
}

.goal__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 55px;
    border-right: 2px solid var(--general-text-2);
    color: var(--general-text-2);
    text-transform: uppercase;
    transition: var(--transition);
}

.goal__link-first {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 176px;
    transition: var(--transition);
}

.goal__link-second {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    justify-content: space-between;
    font-family: 'Archivo';
    transition: var(--transition);
}

.goal__link-second path {
    transition: var(--transition);
}

.goal__link:hover {
    background: var(--accent-bg);
}

.goal__link:hover .goal__link-first {
    color: var(--accent-text);
}

.goal__link:hover span {
    color: var(--accent-text);
}

.goal__link:hover span path {
    stroke: var(--accent-text);
}

.goal__title {
    font-family: 'Archivo';
    font-size: 20px;
    font-weight: 600;
    color: #f47521;
    margin-bottom: 20px;
}

/* ====================== */

.about__inner {
    display: flex;
    position: relative;
    z-index: 1;
    padding: 146px 0 179px;
    min-width: 0;
    width: 100%;
}

.about__inner::after {
    content: url("../img/decor/points_big.png");
    position: absolute;
    top: 11%;
    right: 24.5%;
    z-index: -2;
}

.about__story {
    display: flex;
    flex-direction: column;
    margin-left: 352px;
    margin-right: 100px;
}

.about__title {
    font-size: 120px;
    font-weight: 600;
    padding: 40px 0;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about__word {
    color: var(--accent-text);
}

.about__text-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about__text {
    margin-bottom: 40px;
}

.about__text-description {
    display: block;
    font-family: 'Archivo';
    color: var(--description-text-2);
    width: 468px;
    line-height: 1.5;
}

.about__button {
    margin-top: 100px;
}

.about-slider {
    display: flex;
    min-width: 0;
    width: 1000px;
    height: 700px;

}

.about-slider.swiper {
    margin: 0;
}

.about-slider__slide {
    position: relative;
    z-index: 1;
}

.about__pagination {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 54px;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: var(--swiper-pagination-right, 8px);
    left: 85%;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
}

.about-slider .swiper-pagination-bullet {
    width: 14px;
    height: 14px;

    background: var(--general-text);
    opacity: 1;
}

.about-slider .swiper-pagination-bullet-active {
    position: relative;
}

.about-slider .swiper-pagination-bullet-active::after {
    position: absolute;
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    top: -168%;
    right: -183%;
    background: transparent;
    border: 4px solid var(--accent-text);
    border-radius: var(--border-radius);
}

.about__pagination .swiper-pagination-bullet {
    font-size: 0;
}

.about__pagination .swiper-pagination-bullet-active {
    background-color: transparent;
    font-size: 21.82px;
    color: var(--general-text);
}

/* ====================== */

.gear__ticker {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: var(--background);
}

.ticker__wrapper {
    display: flex;
    width: max-content;
    animation: ticker-scroll 30s linear infinite;
}

.gear__ticker:hover .ticker__wrapper {
    animation-play-state: paused;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.ticker__group {
    display: flex;
    padding: 60px 0;
}

.ticker__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.ticker__item h2 {
    font-size: 100px;
    text-transform: uppercase;
    color: var(--general-text-2);
    padding: 0 34px;
}

.ticker__item span {
    display: block;
    width: 14px;
    height: 14px;
    background: var(--accent-text);
    border-radius: var(--border-radius);
}

/* ----------------- */

.card__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card__item {
    display: block;
    transition: var(--transition);
}

.card__item:hover {
    border: 2px solid var(--general-text-2);
}

.card__img {
    overflow: hidden;
    position: relative;
    padding: 0 0 106% 0;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 14%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.card__bottom {
    display: flex;
    background: var(--background);
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: var(--general-text-2);
    font-family: 'Archivo';
    font-weight: 700;
    text-transform: uppercase;
    border-right: 2px solid var(--general-text-2);
    transition: var(--transition);
}

.card__item:last-child .card__bottom {
    border-right: none;
}

.card__item:hover .card__bottom {
    border-right: none;
    background: var(--accent-bg);
    color: var(--accent-text);
}

.card__bottom span {
    display: block;
}

.card__item:hover .card__bottom path {
    stroke: var(--accent-text);
}

/* ====================== */

.programs__body {
    padding: 130px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.programs__body::before {
    content: url("../img/decor/points_big.png");
    position: absolute;
    top: 11%;
    left: 6%;
    z-index: -1;
}

.programs__body::after {
    content: url("../img/decor/WITHIN.png");
    position: absolute;
    top: 2%;
    right: -23.5%;
    z-index: -1;
    transform: scale(.9);
}

.programs__body-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 86px;
}

.programs__title {
    margin-bottom: 40px;
}

.programs__title-text {
    display: block;
    max-width: 468px;
    font-family: 'Archivo';
    color: var(--description-text);
    line-height: 1.5;
}

.programs__cards {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
    gap: 45px;
}

.cards__column {
    flex: 0 0 20%;
}

.cards__item {
    display: block;
    border-bottom: 2px solid #7c7c7c;
    white-space: nowrap;
    z-index: 1;
    position: relative;
}

.cards__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 6px;
    background: var(--accent-text);
    transition: width 3s ease;
    z-index: 2;
    margin-bottom: -4px;
}

.cards__item:hover::after {
    width: 100%;
}

.cards__item:hover .cards__image::after {
    opacity: .5;
}

.cards__image {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 130% 0px;
    overflow: hidden;
    position: relative;
}

.cards__image::after {
    content: '';
    background: var(--accent-text);
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    transition: var(--transition);
}

.cards__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0%;
    position: absolute;
    top: 0%;
    left: 0;
}

.cards__pocket {
    text-transform: uppercase;
}

.cards__text {
    display: block;
    font-family: 'Archivo';
    font-size: 20px;
    font-weight: 600;
    color: var(--accent-text);
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.cards__text span {
    color: var(--general-text);
    margin: 0 16px;
}

.cards__pocket h3 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* ------------------- */

.programs__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    z-index: 1;
}

.programs__gallery::before {
    content: url("../img/decor/power_from_within.png");
    position: absolute;
    top: 36%;
    left: 44.5%;
    z-index: 3;
}

.programs__image {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    aspect-ratio: 960 / 832;
    padding: 0 0 86% 0;
}

.programs__image img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 30%;
    top: 0;
    left: 0;
}

.programs__image-second {
    transform: scale(1.1);
}

/* ------------------ */

.programs__testimonial {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.testimonial__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;

    backdrop-filter: blur(7px);
    background: rgba(114, 50, 7, 0.5);
}

.programs__testimonial span {
    display: block;
    text-align: center;
}

.testimonial__icon {
    margin: 50px 0;
}

.testimonial__text {
    font-size: 55px;
    max-width: 589px;
    margin-bottom: 42px;
}

.testimonial__line {
    height: 3px;
    width: 83px;
    background: var(--accent-text);
    margin-bottom: 65px;
}

.testimonial__name {
    font-family: 'Archivo';
    text-align: center;
}

.testimonial__name p {
    opacity: .7;
    font-size: 20px;
    margin-bottom: 11px;
}

.testimonial__name span {
    font-size: 30px;
    font-weight: 700;
}

/* ====================== */

.total__top {
    background: var(--background);
    color: var(--general-text-2);
    padding: 160px 0;
}

.total__tabs {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.tabs__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15vw;
}

.tabs__item {
    display: block;
    position: relative;
    font-size: 100px;
    font-weight: 600;
    color: rgba(20, 20, 20, .3);
    text-transform: uppercase;
    white-space: nowrap;
    padding: 20px 0;
    z-index: 1;
    transition: var(--transition);
    transition: color .5s ease;
}

.tabs__item:hover {
    color: var(--general-text-2);
}

.tabs__item.active {
    color: rgba(20, 20, 20, 1);
}

.tabs__item.active::before {
    content: '';
    position: absolute;
    left: -61px;
    top: 72px;
    transform: translateY(-50%);
    width: 145px;
    height: 145px;
    border-radius: var(--border-radius);
    background: var(--accent-text);
    z-index: -1;
}

.tabs__block {
    display: none;
    animation: fadeIn .4s ease;
}

.tabs__block.active {
    display: block;
    margin-right: 15vw;
    text-align: justify;
}

.tab__text {
    margin-bottom: 50px;
}

.tab__text:last-child {
    margin-bottom: 0px;
}

.tab__title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 30px 0 20px;
}

.tab__text span {
    display: block;
    font-family: 'Archivo';
    line-height: 1.5;
    max-width: 468px;
    color: var(--description-text);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --------------------- */

.total__statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--background);
    color: var(--general-text-2);
}

.statistics__item {
    padding: 160px 0;
    border-top: 2px solid var(--general-text-2);
    border-right: 2px solid var(--general-text-2);
    text-align: center;
}

.statistics__item:last-child {
    border-right: none;
}

.statistics__title {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 35px;
}

.statistics__text {
    display: block;
    font-family: 'Archivo';
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 20px;
}

/* ---------------------- */

.total__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #303030;
}

.total__item {
    display: flex;
}

.total__image {
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
    padding: 0 0 50% 0;
}

.total__image::after {
    content: '';
    background: var(--accent-text);
    opacity: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    transition: var(--transition);
}

.total__item:hover .total__image::after {
    opacity: .4;
}

.total__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
}

.total__image-first,
.total__image-second {
    object-position: 0 50%;
}

.total__image-third {
    object-position: 0 32%;
}

.total__image-fourth {
    object-position: 0 100%;
}

.total__text {
    flex-basis: 50%;
    font-family: 'Archivo';
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 52px;
}

.total__text-first {
    text-transform: uppercase;
    color: var(--accent-text);
    margin-bottom: 20px;
}

.total__text-title {
    font-family: 'Oswald';
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.total__text-second {
    color: var(--description-text);
    max-width: 349px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.total__text-third {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.total__text-fourth {
    height: 2px;
    width: 111px;
    background: var(--accent-text);
}

.total__text-last {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.total__text-last::before {
    content: url("../img/decor/points_big.png");
    position: absolute;
    top: 37%;
    left: 41%;
    z-index: 2;
}

/* ====================== */

.schedule {
    position: relative;
    z-index: 1;
}

.schedule::before {
    content: url("../img/decor/point_16.png");
    position: absolute;
    z-index: -1;
    top: 6%;
    right: 3%;
}

.schedule__inner {
    text-align: center;
    margin: 0 auto;
    padding: 110px 0 145px;
    text-transform: uppercase;
}

.schedule__title {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 80px;
}

.schedule__items {
    display: flex;
    justify-content: center;
    gap: 0 83px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
}

.schedule__item {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255, .3);
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    transition: var(--transition);
    transition: color .5s ease;
}

.schedule__item:hover {
    color: var(--accent-bg);
}

.schedule__item.active {
    color: rgb(255, 255, 255, 1);
}

.schedule__item.active span::before {
    content: '';
    position: absolute;
    left: -11%;
    top: 51%;
    transform: translateY(-50%);
    width: 41.65px;
    height: 41.65px;
    border-radius: var(--border-radius);
    background: var(--accent-text);
    z-index: -1;
}

.schedule__block {
    display: none;
    animation: fadeIn .4s ease;
    width: 100%;
}

.schedule__block.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.schedule__scroll {
    overflow-x: auto;
    width: 100%;
}

.schedule__table {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 auto;

    table-layout: fixed;
    border-collapse: collapse;
    min-width: 1300px;
    width: max-content;
}

.schedule__table td {
    height: 113px;
    width: 157px;
    color: rgba(181, 181, 181, 1);
    border: 1px solid rgba(120, 120, 120, 1);
}

.schedule__table h4 {
    color: var(--general-text);
}

.schedule__table span {
    display: block;
    font-family: 'Archivo';
    font-size: 16px;
    color: rgba(151, 151, 151, 1);
    line-height: 1.5;
    text-transform: none;
    margin-top: 10px;
}

.schedule__table tr:first-child td {
    border-top: none;
}

.schedule__table tr:last-child td {
    border-bottom: none;
}

.schedule__table tr td:first-child {
    border-left: none;
}

.schedule__table tr td:last-child {
    border-right: none;
}

/* ====================== */

.social__top {
    position: relative;
}

.social__img {
    position: relative;
    overflow: hidden;
    padding: 0 0 42% 0;
    z-index: 1;
}

.social__img img {
    position: absolute;
    object-fit: cover;
    object-position: 0 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 122px;
    background: var(--accent-text);
    border-radius: var(--border-radius);
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 48%;
    transition: var(--transition);
}

.social__link path {
    transition: var(--transition);
}

.social__link:hover {
    background: var(--accent-bg);
}

.social__link:hover path {
    stroke: var(--accent-text);
}

/* ---------------------- */

.social__adress {
    padding: 160px 0 160px 353px;
    background: var(--background);
    color: var(--general-text-2);
}

.adress__title {
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.adress__items {
    max-width: 1210px;
    margin-right: 100px;
}

.adress__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 7px 25px 0;
    border-top: 1px solid var(--general-text-2);

    position: relative;
    z-index: 1;
    transition: var(--transition);
    transition: color .5s ease;
    white-space: nowrap;
}

.adress__item:hover {
    color: var(--accent-text);
}

.adress__item:hover .adress__item-second path {
    stroke: var(--accent-text);
}

.adress__item.active .item__first-text::before {
    content: '';
    position: absolute;
    left: 14%;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: var(--border-radius);
    background: var(--accent-text);
    z-index: -1;
    transition: var(--transition);
}

.adress__item.active:hover .item__first-text::before {
    background: var(--accent-bg);
}

.adress__items-fifth {
    border-bottom: 1px solid var(--general-text-2);
}

.adress__item-first {
    display: flex;
    align-items: center;
    gap: 111px;
}

.adress__item-first span:first-child {
    font-size: 20px;
}

.adress__item-first span:last-child {
    font-family: 'Archivo';
    font-size: 30px;
    font-weight: 700;
}

.adress__block {
    display: none;
    border: 1px solid var(--general-text-2);
    border-collapse: collapse;
}

.adress__block.active {
    display: block;
}

.adress__text {
    font-family: 'Archivo';
    font-size: 22px;
    text-transform: uppercase;
    color: var(--accent-text);
    padding: 20px 0;
    margin-left: 250px;
}

/* ---------------------- */

.social__employee {
    padding: 130px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social__employee::before {
    content: url("../img/decor/WITHIN.png");
    position: absolute;
    top: -8%;
    left: -15%;
    z-index: -1;
}

.social__employee::after {
    content: url("../img/decor/points_big.png");
    position: absolute;
    top: 33%;
    right: -2%;
    z-index: -1;
    transform: scale(.9);
}

.social__employee-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 86px;
}

.social__title {
    margin-bottom: 40px;
}

.social__title-text {
    display: block;
    max-width: 468px;
    font-family: 'Archivo';
    color: var(--description-text);
    line-height: 1.5;
}

.social__cards {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
    gap: 45px;
}

.social__column {
    flex-basis: 20%;
}

.social__item {
    display: block;
    border-bottom: 2px solid #7c7c7c;
    white-space: nowrap;
    z-index: 1;
    position: relative;
}

.social__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 6px;
    background: var(--accent-text);
    transition: width 3s ease;
    z-index: 2;
    margin-bottom: -4px;
}

.social__item:hover::after {
    width: 100%;
}

.social__item:hover .social__image::after {
    opacity: .5;
}

.social__image {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 115% 0px;
    overflow: hidden;
    position: relative;
}

.social__image::before {
    content: url("../img/icons/socials/tw-orange.svg");
    position: absolute;
    z-index: 3;
    top: 3%;
    left: 75%;
    width: 59.84px;
    height: 59.84px;
    transform: scale(.8);
}

.social__image::after {
    content: '';
    background: var(--accent-text);
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    transition: var(--transition);
}

.social__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0%;
    left: 0;
}

.social__image-first {
    object-position: 0% 27%;
}

.social__image-second {
    transform: scale(2.2);
    object-position: 0% 2%;
}

.social__image-third {
    transform: scale(1.75);
    object-position: 0 -10%;
}

.social__image-fourth {
    transform: scale(1.65);
    object-position: 0 -60%;
}

.social__pocket {
    text-transform: uppercase;
}

.social__text {
    display: block;
    font-family: 'Archivo';
    font-size: 20px;
    font-weight: 600;
    color: var(--accent-text);
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.social__text span {
    color: var(--general-text);
    margin: 0 16px;
}

.social__pocket h3 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* ---------------------- */

.social__blog {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 185px 0 140px 353px;
    background: var(--background);
    overflow: hidden;
}

.blog__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 226px;
}

.blog__title {
    color: var(--general-text-2);
}

.blog__title span {
    display: block;
}

.blog__title span:first-child {
    margin-bottom: 30px;
}

.blog__button {
    border-left: 3px solid var(--general-text-2);
}

.blog__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 43px;
    margin-right: -50px;
}

.blog__item {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #7c7c7c;
}

.blog__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 37px;
    padding: 0px 0px 130% 0px;
}

.blog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.blog__image-first {
    object-position: center;
}

.blog__image-second {
    object-position: center;
}

.blog__image-third {
    object-position: 30% 0;
}

.blog__pocket span {
    display: block;
    font-family: 'Archivo';
    font-weight: 600;
}

.blog__text-first {
    color: #8b8a8a;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog__text-second {
    color: var(--general-text-2);
    font-size: 24px;
    margin-bottom: 30px;
}

/* ====================== */

@media (max-width: 1850px) {
    .about__story {
        margin-left: 220px;
    }

    .blog__body {
        margin-right: 0px;
    }
}

@media (max-width: 1800px) {
    .hero__title::after {
        top: 17%;
        right: -2.5%;
    }
}

@media (max-width: 1750px) {
    .about__story {
        margin-left: 150px;
    }

    /* ================== */

    .programs__gallery::before {
        left: 44%;
    }

    /* ================== */

    .statistics__item {
        padding: 140px 0;
    }

    /* ================== */

    .social__adress {
        padding: 160px 0 160px 300px;
    }
}

@media (max-width: 1700px) {
    .hero__title::after {
        top: 17%;
        right: -7.5%;
    }

    .hero__link {
        top: -12%;
    }
}

@media (max-width: 1650px) {
    .about__story {
        margin-left: 100px;
    }

    /* ================= */

    .cards__pocket h3 {
        font-size: 36px;
    }

    /* ================= */

    .social__pocket h3 {
        font-size: 36px;
    }
}

@media (max-width: 1600px) {
    .hero__title::after {
        top: 17%;
        right: -14.5%;
    }

    .hero__link {
        top: -13%;
    }

    /* ================== */

    .goal__link-first {
        margin-bottom: 140px;
    }

    /* =================== */

    .about__story {
        margin-left: 50px;
    }

    /* ==================== */

    .programs__body {
        padding: 100px 0;
    }

    /* ==================== */

    .programs__gallery::before {
        left: 43.5%;
    }

    /* ==================== */

    .social__adress {
        padding: 130px 0 130px 200px;
    }

    /* ------------------- */

    .social__employee {
        padding: 100px 0;
    }

    /* ------------------- */

    .social__blog {
        padding: 150px 0 120px 200px;
    }
}

@media (max-width: 1550px) {
    .about__story {
        margin-left: 30px;
    }

    .about-slider .swiper-pagination-bullet-active::after {
        top: -168%;
        right: -186%;
    }

    /* ================= */

    .testimonial__text {
        font-size: 45px;
        max-width: 500px;
    }

    /* ================= */

    .statistics__item {
        padding: 120px 0;
    }

    /* ----------------- */

    .total__text-second {
        max-width: 280px;
    }

    .total__text-last::before {
        top: 28%;
        left: 53%;
    }
}

@media (max-width: 1500px) {
    .hero__title::after {
        top: 17%;
        right: -21.5%;
    }

    .hero__link {
        top: -59px;
        left: 48%;
    }

    /* ================= */

    .about__story {
        margin-right: 70px;
    }

    .about-slider__image {
        transform: scale(.95);
    }

    /* ================= */

    .testimonial__icon {
        transform: scale(.8);
        margin: 30px 0;
    }

    .testimonial__line {
        margin-bottom: 50px;
    }

    /* ================= */

    .social__adress {
        padding: 100px 0 100px 150px;
    }

    /* ================= */

    .social__pocket h3 {
        font-size: 30px;
    }

    /* ----------------- */

    .social__blog {
        padding: 130px 0 110px 100px;
        gap: 100px;
    }
}

@media (max-width: 1450px) {
    .hero__title {
        padding: 25px 97px 0;
        font-size: 150px;
        line-height: 150px;
    }

    .hero__title::after {
        top: 19%;
        right: 11.5%;
        font-size: 250px;
        line-height: 250px;
    }

    /* ================= */

    .about__story {
        margin-right: 50px;
    }

    /* ================= */

    .programs__gallery::before {
        left: 43%;
    }

    /* ================= */

    .total__top {
        padding: 100px 0;
    }

    /* ================= */

    .adress__item.active .item__first-text::before {
        left: 17%;
        top: 50%;
    }

    /* ================= */

    .social__cards {
        margin: 0px 15px;
    }
}

@media (max-width: 1400px) {
    .about__inner {
        padding: 100px 0;
    }

    .about__story {
        margin-right: 30px;
    }

    .about__inner::after {
        top: 7%;
    }

    .about__title {
        font-size: 110px;
    }

    .about__button {
        margin-top: 75px;
    }

    /* =================== */

    .total__text {
        padding-left: 30px;
    }

    .total__text-title {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .total__text-second {
        max-width: 250px;
        margin-bottom: 15px;
    }

    .total__text-last::before {
        top: 10%;
        left: 22%;
        transform: scale(.8);
    }

    /* ================= */

    .social__employee::before {
        top: -4%;
        left: -15%;
    }

    .social__employee::after {
        top: 60%;
        right: -2%;
    }

    .social__cards {
        display: grid;
        grid-template-columns: repeat(2, .4fr);
    }

    /* ----------------- */

    .social__blog {
        display: block;
        gap: 0;
        padding: 100px 50px;
    }

    .blog__top {
        flex-direction: row;
        max-width: none;
        justify-content: start;
        align-items: center;
        gap: 100px;
        margin-bottom: 50px;
    }

    .blog__title span {
        display: inline-block;
    }

    .blog__title span:first-child {
        margin-bottom: 0;
    }
}

@media (max-width: 1350px) {
    .header__top {
        padding: 47px 70px 0px;
    }

    .header__top-inner {
        margin-bottom: 30px;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        font-size: 18px;
        gap: 5px 100px;
    }

    .nav__link::before {
        top: -6px;
    }

    /* --------------- */

    .hero__title {
        padding: 25px 61px 0;
    }

    .hero__title::after {
        right: 4.5%;
    }

    /* ================== */

    .goal__link-first {
        margin-bottom: 120px;
    }

    /* ================ */

    .about__inner {
        padding: 80px 0 50px;
    }

    .about__inner::after {
        top: 2%;
    }

    .about__story {
        margin-right: 0px;
    }

    .about__title {
        font-size: 90px;
        padding: 0;
        margin-bottom: 40px;
    }

    .about-slider {
        width: 800px;
    }

    .about-slider .swiper-pagination-bullet-active::after {
        width: 60px;
        height: 60px;
        top: -134%;
        right: -153%;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        left: 90%;
    }

    /* ================ */

    .ticker__group {
        padding: 40px 0;
    }

    .ticker__item h2 {
        font-size: 80px;
    }

    /* ================ */

    .programs__body-top {
        margin-bottom: 60px;
    }

    /* ================ */

    .programs__gallery::before {
        top: 35%;
        left: 42.5%;
        transform: scale(.9);
    }

    .testimonial__icon {
        transform: scale(.7);
    }

    .testimonial__text {
        font-size: 40px;
    }

    /* ================ */

    .statistics__item {
        padding: 100px 0;
    }

    /* ================ */

    .social__employee-top {
        margin-bottom: 60px;
    }

    /* ================ */

    .footer__top {
        padding: 47px 70px 0px;
    }

    .footer__top-inner {
        margin-bottom: 30px;
    }

    .footer__contact {
        padding: 50px 70px 50px;
    }

    .footer__logo {
        width: 198px;
        padding-top: 10px;
    }

    .footer__top-link {
        font-size: 40px;
    }

    .footer__end {
        padding: 28px 70px;
    }
}

@media (max-width: 1250px) {
    .about__inner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 0;
    }

    .about__inner::after {
        left: 19%;
    }

    .about__story {
        align-items: center;
        margin: 0;
    }

    .about__block {
        display: flex;
        gap: 0 50px;
    }

    .about__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .about__title {
        display: flex;
        justify-content: center;
        font-size: 80px;
        margin: 0px 0 30px;
    }

    .about__text-title {
        margin-bottom: 20px;
    }

    .about__button {
        margin-top: 40px;
    }

    .about-slider__image {
        transform: scale(.9);
    }

    /* =============== */

    .programs__gallery::before {
        left: 41.5%;
    }

    /* =============== */

    .tab__text {
        margin-bottom: 30px;
    }

    /* =============== */

    .schedule__inner {
        padding: 80px 0 100px;
    }

    .schedule__title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    /* ============== */

    .social__adress {
        padding: 80px 0 80px 120px;
    }

    .adress__title {
        font-size: 60px;
    }

    /* =============== */

    .social__blog {
        padding: 100px 30px;
    }
}

@media (max-width: 1200px) {
    .nav__list {
        gap: 5px 60px;
    }

    /* ---------------- */

    .hero__title::after {
        right: -2.5%;
    }

    /* ================== */

    .goal__link-first {
        margin-bottom: 100px;
    }

    /* ================== */

    .about__inner::after {
        left: 16%;
    }

    /* ================= */

    .testimonial__icon {
        transform: scale(.6);
        margin: 20px 0;
    }

    .testimonial__text {
        font-size: 35px;
        max-width: 400px;
    }

    .testimonial__name span {
        font-size: 25px;
    }

    .testimonial__line {
        margin-bottom: 35px;
    }

    /* ================ */

    .tabs__item {
        font-size: 90px;
    }

    .tabs__item.active::before {
        left: -67px;
        top: 67px;
    }

    /* ================ */

    .statistics__item {
        padding: 80px 0;
    }

    .statistics__title {
        font-size: 70px;
    }

    /* ================ */

    .adress__item.active .item__first-text::before {
        left: 21%;
    }

    /* ---------------- */

    .social__link {
        top: 40%;
        left: 46%;
    }
}

@media (max-width: 1100px) {
    .hero__title::after {
        right: -12.5%;
    }

    .hero__link {
        transform: scale(.9);
        top: -20%;
        left: 47%;
    }

    /* ===================  */

    .goal__link {
        padding: 35px;
    }

    .goal__link-first {
        font-size: 32px;
    }

    /* =================== */

    .about__inner::after {
        left: 13%;
    }

    .about__block {
        flex-direction: column;
    }

    .about__text {
        margin-bottom: 30px;
    }

    /* =================== */

    .ticker__group {
        padding: 30px 0;
    }

    .ticker__item h2 {
        font-size: 60px;
        padding: 0 26px;
    }

    /* =================== */

    .programs__cards {
        gap: 50px;
        flex-wrap: wrap;
    }

    .programs__gallery::before {
        top: 31%;
        left: 40.5%;
        transform: scale(.8);
    }

    .testimonial__icon {
        transform: scale(.5);
    }

    .testimonial__text {
        max-width: 370px;
        font-size: 30px;
    }

    /* =================== */

    .total__top {
        padding: 70px 0;
    }

    .tabs__items {
        margin-left: 12vw;
    }

    .tabs__block.active {
        margin-right: 12vw;
    }

    /* ------------------- */

    .statistics__item {
        padding: 60px 0;
    }

    .statistics__title {
        margin-bottom: 20px;
    }

    /* ------------------- */

    .total__text-first {
        margin-bottom: 10px;
    }

    .total__text-title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .total__text-second {
        max-width: 200px;
        margin-bottom: 10px;
        line-height: 1.2;
        text-align: justify;
    }

    .total__text-third {
        line-height: 1.0;
        margin-bottom: 5px;
    }

    /* =================== */

    .schedule__items {
        gap: 0 50px;
    }

    /* =================== */

    .adress__item.active .item__first-text::before {
        left: 23%;
    }

    /* =================== */

    .blog__top {
        justify-content: center;
    }

    .blog__body {
        display: grid;
        grid-template-columns: .4fr;
        justify-content: center;
    }

    /* =================== */

    .footer__work {
        gap: 0 50px;
    }
}

@media (max-width: 1000px) {
    .nav__list {
        gap: 5px 30px;
    }

    /* ---------------- */

    .hero__title::after {
        right: -24.5%;
    }

    .hero__link {
        top: -21%;
        transform: scale(.8);
    }

    /* ================= */

    .about__inner::after {
        left: 10%;
    }

    /* ================== */

    .card__item:hover {
        border: none;
    }

    .card__item:hover .card__bottom {
        border-right: 2px solid var(--general-text-2);
    }

    .card__item:last-child:hover .card__bottom {
        border-right: none;
    }

    .card__bottom {
        padding: 30px;
    }

    /* ================ */

    .programs__body {
        padding: 80px 0;
    }

    .programs__body::before {
        top: -5%;
        left: -28%;
        transform: scale(.8);
    }

    .programs__body::after {
        top: -1%;
        right: -51.5%;
        transform: scale(0.8);
    }

    /* ------------------- */

    .button__large {
        padding: 30px 0;
    }

    .testimonial__inner {
        padding: 0;
    }

    .testimonial__icon {
        transform: scale(.4);
        margin: 0;
    }

    .testimonial__text {
        max-width: 300px;
        font-size: 25px;
        margin-bottom: 30px;
    }

    .testimonial__line {
        width: 60px;
    }

    .testimonial__name p {
        font-size: 17px;
    }

    .testimonial__name span {
        font-size: 22px;
    }

    /* ================= */

    .tabs__item {
        font-size: 80px;
    }

    .tabs__item.active::before {
        left: -62px;
        top: -9px;
        transform: scale(.8);
    }

    /* ================= */

    .social__link {
        top: 36%;
        left: 44%;
        transform: scale(.8);
    }

    /* ----------------- */

    .adress__text {
        margin-left: 50px;
    }

    /* ----------------- */

    .social__employee::before {
        top: -6%;
        left: -34%;
        transform: scale(.8);
    }
}

@media (max-width: 950px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-text-2);
        padding: 26vh 15px 30px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ------------------- */

    .hero__title {
        padding: 25px 61px 0;
        font-size: 100px;
        line-height: 100px;
    }

    .hero__title::after {
        top: 19%;
        right: 9.5%;
        font-size: 170px;
        line-height: 170px;
    }

    .hero__img {
        margin-top: -21px;
    }

    /* ================== */

    .goal__link-first {
        margin-bottom: 70px;
    }

    /* ================== */

    .about__inner::after {
        left: 8%;
    }

    /* ================== */

    .card__inner {
        grid-template-columns: .4fr;
        justify-content: center;
        margin-bottom: 50px;
    }

    .card__item:hover {
        border: 2px solid var(--general-text-2);
    }

    .card__bottom {
        border-right: none;
    }

    /* ================== */

    .programs__gallery::before {
        left: 39%;
        top: 27%;
    }

    /* ================== */

    .tabs__items {
        margin-left: 10vw;
    }

    .tabs__item {
        font-size: 70px;
    }

    .tabs__item.active::before {
        left: -62px;
        top: -14px;
        transform: scale(.7);
    }

    .tabs__block.active {
        margin-right: 10vw;
    }

    /* ------------------ */

    .statistics__item {
        padding: 50px 0;
    }

    /* ------------------ */

    .total__cards {
        grid-template-columns: 1fr;
    }

    .total__text {
        padding-left: 50px;
    }

    .total__text-first {
        margin-bottom: 20px;
    }

    .total__text-title {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .total__text-second {
        max-width: 349px;
        margin-bottom: 30px;
        line-height: 1.5;
        text-align: justify;
    }

    .total__text-third {
        line-height: 1.5;
        margin-bottom: 10px;
    }

    /* ================== */

    .schedule__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        text-align: left;
        padding-left: 100px;
    }

    .schedule__item.active span::before {
        left: -6%;
        top: 53%;
    }

    /* ================== */

    .adress__title {
        margin-bottom: 50px;
    }

    .adress__item.active .item__first-text::before {
        left: 23%;
    }

    .adress__item-first {
        gap: 70px;
    }

    /* ================== */

    .footer__contact-inner {
        flex-direction: column-reverse;
    }

    .footer__work {
        margin-bottom: 50px;
    }

    .footer__col-connection {
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .hero__title::after {
        right: 4.5%;
    }

    .hero__link {
        top: -24%;
        left: 47%;
    }

    /* =============== */

    .schedule::before {
        top: 3%;
        right: 6%;
    }
}

@media (max-width: 850px) {
    .hero__title::after {
        right: -1.5%;
    }

    .hero__link {
        left: 46%;
    }

    /* ================= */

    .about__inner::after {
        left: 5%;
    }

    /* ================= */

    .programs__gallery::before {
        left: 38%;
        top: 25%;
    }

    .testimonial__icon {
        transform: scale(.3);
    }

    .testimonial__text {
        max-width: 230px;
        font-size: 23px;
        margin-bottom: 20px;
    }

    .testimonial__line {
        margin-bottom: 20px;
    }

    /* ================= */

    .total__tabs {
        gap: 70px;
    }

    .tabs__item {
        padding: 10px 0;
    }

    .tabs__item.active::before {
        left: -62px;
        top: -30px;
    }

    .tabs__block.active {
        margin-right: 6vw;
    }

    .tab__title {
        margin: 15px 0 20px;
    }

    /* -------------------- */

    .total__statistics {
        grid-template-columns: repeat(2, 1fr);
    }

    .statistics__item:nth-child(2) {
        border-right: none;
    }

    .statistics__title {
        font-size: 50px;
    }

    .statistics__text {
        font-size: 17px;
    }

    /* ------------------- */

    .total__text-second {
        max-width: 250px;
    }
}

@media (max-width: 800px) {
    html {
        scroll-padding-top: 50px;
    }

    .hero__title::after {
        right: -7.5%;
    }

    .hero__link {
        top: -26%;
        left: 45%;
    }

    /* ================== */

    .goal__link {
        padding: 20px;
    }

    .goal__link-first {
        font-size: 28px;
        margin-bottom: 50px;
    }

    /* ================== */

    .about__inner::after {
        left: 7%;
    }

    .about-slider__image {
        transform: scale(.85);
    }

    /* ================== */

    .ticker__item h2 {
        font-size: 50px;
    }

    /* ================== */

    .card__inner {
        grid-template-columns: .5fr;
    }

    /* ================== */

    .programs__cards {
        display: grid;
        grid-template-columns: .5fr;
    }

    .programs__body {
        padding: 50px 0;
    }

    .programs__body-top {
        margin-bottom: 40px;
    }

    .programs__title {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .programs__title-text {
        max-width: 380px;
    }

    .programs__body::before {
        top: -13%;
        left: -37%;
        transform: scale(.7);
    }

    .programs__body::after {
        top: -5%;
        right: -86.5%;
        transform: scale(0.7);
    }

    .programs__cards {
        gap: 10px;
    }

    .cards__item {
        transform: scale(.9);
    }

    /* ================== */

    .button__large {
        padding: 20px 0;
    }

    .programs__gallery::before {
        left: 37%;
        top: 24%;
    }

    /* ================== */

    .total__top {
        padding: 50px 0;
    }

    .tabs__item {
        padding: 10px 0;
        font-size: 60px;
    }

    .tabs__item.active::before {
        transform: scale(.6);
    }

    /* ================== */

    .schedule__items {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }

    .schedule__item {
        padding: 5px 0;
    }

    /* =================== */

    .adress__item.active .item__first-text::before {
        left: 28%;
    }

    .adress__text {
        margin-left: 10px;
        font-size: 18px;
    }

    /* =================== */

    .blog__body {
        grid-template-columns: .45fr;
    }

    .blog__top {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (max-width: 750px) {
    .hero__title::after {
        right: -13.5%;
    }

    /* ================= */

    .about__inner::after {
        left: 3%;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        left: 84%;
    }

    /* ================= */

    .programs__cards {
        margin: 0px 15px;
    }

    /* ================= */

    .programs__gallery::before {
        left: 36%;
        transform: scale(.7);
        top: 21%;
    }

    .testimonial__text {
        margin-top: -10px;
    }

    .testimonial__name p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .testimonial__name span {
        font-size: 20px;
    }

    /* ================== */

    .statistics__title {
        margin-bottom: 15px;
    }

    /* ------------------ */

    .total__text {
        padding-left: 30px;
    }

    /* ================== */

    .schedule__inner {
        padding: 60px 0 70px;
    }

    /* ================= */

    .social__link {
        top: 31%;
        left: 41%;
        transform: scale(.7);
    }

    /* ----------------- */

    .social__employee {
        padding: 80px 0;
    }

    .social__employee::before {
        top: -8%;
        left: -49%;
        transform: scale(.7);
    }

    .social__cards {
        grid-template-columns: repeat(2, .5fr);
    }
}

@media (max-width: 700px) {
    .hero__title {
        padding: 15px 61px 0;
        font-size: 80px;
        line-height: 80px;
    }

    .hero__title::after {
        top: 24%;
        right: 5.5%;
        font-size: 120px;
        line-height: 120px;
    }

    .hero__img {
        margin-top: -19px;
    }

    .hero__link {
        top: -30%;
        transform: scale(.7);
    }

    /* =================== */

    .about__inner::after {
        left: 5%;
    }

    .about-slider__image {
        transform: scale(.7);
    }

    .about-slider.swiper {
        margin: 0;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        top: 53%;
    }

    /* =================== */

    .card__inner {
        margin-bottom: 0px;
    }

    /* =================== */

    .programs__body::before {
        top: -4%;
        left: -53%;
    }

    .programs__body::after {
        top: -3%;
        right: -103.5%;
    }

    /* =================== */

    .programs__gallery::before {
        left: 35%;
        top: 19%;
    }

    .testimonial__icon {
        margin-top: -20px;
    }

    /* =================== */

    .total__tabs {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .tabs__items {
        margin-left: 7vw;
    }

    /* ------------------- */

    .statistics__item {
        padding: 30px 0;
    }

    /* =================== */

    .social__adress {
        padding: 60px 0 60px 50px;
    }

    .adress__items {
        margin-right: 50px;
    }

    /* =================== */

    .blog__body {
        grid-template-columns: .5fr;
    }

    /* =================== */

    .footer__logo {
        padding-top: 0;
    }

    .footer__top-link {
        font-size: 30px;
    }
}

@media (max-width: 650px) {
    .hero__title::after {
        right: -1.5%;
    }

    .hero__link {
        left: 44%;
    }

    .about-slider {
        height: 600px;
    }

    /* ================== */

    .goal__link {
        padding: 15px;
    }

    .goal__link-first {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .goal__title {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .goal__link-second {
        font-size: 15px;
    }

    /* ================= */

    .swiper-slide {
        display: flex;
        align-items: self-end;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        left: 80%;
        top: 48%;
    }

    .about-slider .swiper-pagination-bullet-active::after {
        width: 50px;
        height: 50px;
        top: -100%;
        right: -120%;
    }

    /* ================= */

    .programs__gallery::before {
        left: 34%;
        transform: scale(.6);
        top: 15%;
    }

    .testimonial__icon {
        transform: scale(.2);
        margin-top: -30px;
    }

    .testimonial__text {
        max-width: 200px;
        font-size: 18px;
        margin-top: -20px;
    }

    .testimonial__line {
        width: 45px;
    }

    .testimonial__name p {
        font-size: 12px;
    }

    .testimonial__name span {
        font-size: 17px;
    }

    /* ================= */

    .tabs__block.active {
        margin: 0 6vw;
    }

    /* ----------------- */

    .total__text-first {
        margin-bottom: 10px;
    }

    .total__text-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .total__text-second {
        max-width: 220px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .total__text-third {
        line-height: 1.2;
        margin-bottom: 5px;
    }

    /* ================= */

    .social__employee {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
    }

    .social__employee::before {
        top: -5%;
        left: -60%;
        transform: scale(.6);
    }

    .social__employee::after {
        top: 67%;
        right: -2%;
    }

    .social__employee-top {
        margin-bottom: 35px;
    }

    .social__cards {
        grid-template-columns: .5fr;
    }

    /* ----------------- */

    .social__blog {
        padding: 60px 30px;
    }

    /* ================= */

    .footer__top-inner {
        flex-direction: column;
        align-items: start;
    }

    .footer__logo {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .header__top {
        padding: 47px 30px 0px;
    }

    /* ----------------- */

    .hero__title {
        padding: 15px 26px 0;
    }

    .hero__title::after {
        right: -3.5%;
    }

    .hero__link {
        top: -34%;
        left: 43%;
    }

    /* ================= */

    .about__inner {
        gap: 10px;
    }

    .about__button {
        margin-top: 20px;
    }

    .about-slider {
        height: 550px;
    }

    .swiper-slide {
        justify-content: center;
    }

    .about-slider__image {
        transform: scale(.6);
    }

    .about__pagination {
        flex-direction: row;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: var(--swiper-pagination-right, 8px);
        left: 5%;
        top: 86%;
        transform: translate3d(0px, 0%, 0);
        text-align: center;
    }

    .about-slider .swiper-pagination-bullet-active::after {
        width: 50px;
        height: 50px;
        top: -98%;
        right: -127%;
    }

    /* ================= */

    .ticker__group {
        padding: 20px 0;
    }

    .ticker__item h2 {
        font-size: 40px;
        padding: 0 20px;
    }

    .ticker__item span {
        width: 10px;
        height: 10px;
    }

    /* ================= */

    .card__inner {
        grid-template-columns: .55fr;
    }

    /* ================= */

    .programs__gallery::before {
        left: 32%;
        transform: scale(.6);
        top: 13%;
    }

    .testimonial__text {
        max-width: 189px;
    }

    .testimonial__line {
        margin-bottom: 15px;
    }

    /* ================= */

    .social__link {
        top: 28%;
        left: 38%;
        transform: scale(.6);
    }

    /* ----------------- */

    .social__adress {
        padding: 60px 0 60px 50px;
    }

    /* ----------------- */

    .social__employee {
        padding: 60px 0;
    }

    /* ----------------- */

    .blog__top {
        gap: 40px;
    }

    .blog__image {
        margin-bottom: 20px;
    }

    .blog__text-second {
        margin-bottom: 20px;
    }

    /* ================= */

    .footer__top {
        padding: 47px 30px 0px;
    }

    .footer__contact {
        padding: 30px;
    }

    .footer__end {
        padding: 28px 30px;
    }
}

@media (max-width: 550px) {
    .hero__title::after {
        right: -9.5%;
    }

    .hero__link {
        top: -40%;
        left: 42%;
    }

    /* ================== */

    .about__text-description {
        width: 400px;
    }

    .button__small {
        width: 180px;
        height: 60px;
    }

    /* ================== */

    .programs__title {
        font-size: 50px;
    }

    /* ================== */

    .button__large {
        padding: 15px 0;
    }

    .programs__gallery::before {
        left: 31%;
        transform: scale(.5);
        top: 8%;
    }

    /* ================== */

    .total__text {
        padding-left: 15px;
    }

    /* ================== */

    .schedule__title {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .schedule__items {
        padding-left: 50px;
    }

    /* ================== */

    .social__link {
        top: 23%;
        left: 37%;
        transform: scale(.5);
    }

    /* ------------------ */

    .adress__title {
        font-size: 50px;
    }

    .social__adress {
        padding: 60px 0 60px 30px;
    }

    .adress__items {
        margin-right: 50px;
    }

    .adress__item.active .item__first-text::before {
        left: 35%;
    }

    .adress__text {
        font-size: 16px;
        padding: 15px 0;
    }

    /* ------------------ */

    .social__employee::before {
        top: -6%;
        left: -72%;
        transform: scale(.6);
    }

    .social__title {
        font-size: 50px;
    }

    /* ------------------ */

    .blog__title {
        font-size: 50px;
    }

    .blog__body {
        grid-template-columns: .55fr;
    }

    /* ================== */

    .footer__work {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 500px) {
    .hero__title::after {
        top: 49%;
        right: -17.5%;
    }

    .hero__link {
        top: -60px;
        left: 37%;
    }

    /* ================== */

    .goal__link {
        padding: 10px;
    }

    .goal__link-second {
        font-size: 14px;
    }

    /* =================== */

    .about__text {
        margin: 0 15px 30px;
    }

    /* =================== */

    .card__inner {
        grid-template-columns: .6fr;
    }

    /* =================== */

    .programs__body::before {
        top: -5%;
        left: -94%;
    }

    .programs__body::after {
        top: -4%;
        right: -126.5%;
        transform: scale(0.5);
    }

    /* =================== */

    .button__large {
        font-size: 13px;
    }

    .programs__gallery::before {
        left: 29%;
        top: 6%;
    }

    .testimonial__text {
        max-width: 150px;
        font-size: 15px;
        margin-top: -25px;
        margin-bottom: 15px;
    }

    .testimonial__name p {
        font-size: 10px;
    }

    .testimonial__name span {
        font-size: 15px;
    }

    /* ================ */

    .statistics__title {
        font-size: 40px;
    }

    .statistics__text {
        font-size: 14px;
    }

    /* ---------------- */

    .total__text-title {
        font-size: 25px;
    }

    .total__text-second {
        max-width: 200px;
    }

    /* ================ */

    .adress__items {
        margin-right: 25px;
    }

    /* ----------------- */

    .social__employee::before {
        top: -6%;
        left: -85%;
        transform: scale(.5);
    }

    /* ---------------- */

    .blog__body {
        grid-template-columns: .65fr;
    }
}

@media (max-width: 450px) {
    .card__inner {
        grid-template-columns: .7fr;
    }

    /* ================= */
    .programs__body-top {
        margin-bottom: 10px;
    }

    /* ================= */

    .programs__gallery::before {
        left: 27%;
        transform: scale(.4);
        top: 0%;
    }

    /* ================= */

    .total__text-second {
        max-width: 180px;
    }

    .total__text-last::before {
        top: -31%;
        left: 9%;
        transform: scale(.7);
    }

    /* ================= */

    .schedule__items {
        padding-left: 30px;
    }

    /* ================= */

    .social__link {
        top: 18%;
        left: 36%;
        transform: scale(.4);
    }

    /* ------------------ */

    .social__adress {
        padding: 50px 0 50px 20px;
    }

    .adress__title {
        margin-bottom: 40px;
    }

    .adress__item-first {
        gap: 50px;
    }

    .adress__item.active .item__first-text::before {
        left: 31%;
    }

    /* -------------------- */

    .social__employee::before {
        top: -7%;
        left: -100%;
        transform: scale(.4);
    }

    .social__employee::after {
        top: 66%;
        right: -2%;
    }

    /* --------------------- */

    .blog__top {
        margin-bottom: 35px;
    }
}