body {
    background: #262628;
    color: #ffffff;
    font-size: 30px;
}

.quad {
    background: #c9c5c5;
    height: 100px;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.circle {
    height: 100px;
    width: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    bottom: 50px;
}